/* h1{
    background-color: palegoldenrod;
    border: 1px solid black;
    display: inline;
    block level to inline
}
span{
    background-color: aqua;
    border: 1px solid black;
    display: block;
     inline to block
} */

span{
    background-color: red;
    border: 1px solid black;
    width: 500px;
    padding: 100px;
    margin: 200px;
}
h1{
    background-color: aqua;
    border: 1px solid black;
    width: 500px;
    padding: 50px;
    margin: 100px;
    display: none;
}
div{
    height: 200px;
    width: 200px;
    background-color: green;
    border: 5px solid black;
    display: inline-block;
    margin: 50px;
}