<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/navbar') %>

    <h1>The home page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias
      accusantium id voluptates iusto officia ullam numquam corrupti incidunt
      cum nihil corporis nesciunt, vel harum aperiam? Dolores veritatis ipsam
      adipisci deleniti?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias
      accusantium id voluptates iusto officia ullam numquam corrupti incidunt
      cum nihil corporis nesciunt, vel harum aperiam? Dolores veritatis ipsam
      adipisci deleniti?
    </p>
    <%- include('partials/footer') %>
  </body>
</html>
